*{
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.calc{
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    /* top: 0px; */
    left: -250px;

}
.calc_exibir{
    transition: all 0.5s;
    left: 0px !important;
 
}

.calc_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #efecec;
    border: 3px solid #bbb;
    width: 250px;
    border-radius: 10px;
}

/* Titulo */
.div_nome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 243px;
    font-size: 40px;
}

.div_nome p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 243px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 20px;
}


/* Display */

.div_display{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #888 4px solid;
    width: 243px;
    border-radius: 5px;
    text-align: right;


}

.display{
    padding: 5px;
    width: 243px;
    background-color: rgb(223, 229, 207);
    font-family: monospace;
    font-size: 30px;

}

.div_teclas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 243px;
    flex-wrap: wrap;
    /* border: solid 1px #9c1818; */

}

.tecla{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
    border: 3px solid #888;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
}

.tecla:hover{
    filter:brightness(80%);
}
.tecla:active{
    filter: brightness(50%);
}

.teclaOp{
    background-color: #f44 !important;
    border: 3px solid #800 !important;
   
}

#tlimpar{
    background-color: rgb(241, 237, 135) !important;
    border: 3px solid rgb(143, 133, 63) !important;
}

#tcopy{
    background-color: rgb(175, 178, 255) !important;
    border: 3px solid rgb(28, 23, 92) !important;
}

.calc_aba{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 80px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 0px 10px 10px 0px;
    border: 3px solid #bbb;
    cursor: pointer;
}

.seta{
    width: 10px;
    height: 30px;
}


